{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Пример формы</title>
</head>
<body>
<h1>Регистрация</h1>
<form method="post">
    <div class="form-group">
        <label for="about">Login</label>
        <textarea class="form-control" id="about" rows="1" name="about"></textarea>
    </div>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты"
           name="email">
    <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">
    <input type="password" class="form-control" id="password again" placeholder="Введите пароль еще раз"
           name="password again">

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="acceptRules" name="accept">
        <label class="form-check-label" for="acceptRules">Согласие</label>
    </div>
    <head>
        <a href="login">Авторизация</a>
    </head>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
</body>
</html>
{% endblock %}