{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Профиль</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <form class="form-inline my-2 my-lg-0">
                <a href="logout">Выход</a>
            </form>
        </div>
    </div>
</nav>
<form method="post" enctype="multipart/form-data">
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
     <img src={{item['ph']}} alt="здесь должна была быть
картинка, но не нашлась" width="64px" height="64px" >
     <p>
    {{ form.photo.label }}<br>
    {{ form.photo }}<br>
    {% for error in form.photo.errors %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endfor %}
  </p>
    <button type="submit" class="btn btn-primary">Отправить</button>
<h5>Имя пользователя</h5>

    <div>{{item['username']}}</div>
    <h5>Почта</h5>

    <div>{{item['email']}}</div>


</form>
{% endblock %}
